/*Andrea Eibergen*/

#mapid {
	height: 550px;
	width: 1350px;
}

.range-slider {
    width: 99%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

h1 {
	text-align: center;
	line-height: .5;
	font-family: Verdana, sans-serif;
}

body {
	background-color: #caccce;
}
/*#222426*/