/*Andrea Eibergen*/

#mapid {
	height: 560px;
	width: 100%;
	display: inline-block;
	border-style: solid;
	border-color: #454647;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: #c2c4c6;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 140px;
    background-color: #c2c4c6;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.range-slider {
    width: 200px;
}

.skip {
	background-color: #fff;
}

h1 {
	text-align: center;
	line-height: .5;
	font-family: 'Orbitron', sans-serif;
	color: #06a9db;
    letter-spacing: 1px;
}

h2 {
	text-align:center;
	line-height: 1;
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
	color: #06a9db;
    letter-spacing: 1px;
}

p {
    text-align:center;
    line-height: .25;
    font-family: 'Orbitron', sans-serif;
    font-size: 4;
    color: #06a9db;
    letter-spacing: .5;
}

body {
	background: #35383d;
}

.leaflet-control {
    border-radius: 6px;
}

.skip {
    border-radius: 6px;
}