/*Andrea Eibergen*/

#mapid {
	height: 560px;
	width: 100%;
	display: inline-block;
	border-style: solid;
	border-color: #454647;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 140px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.range-slider {
    width: 200px;
}

h1 {
	text-align: center;
	line-height: .5;
	font-family: 'Droid Serif', Georgia, Times, serif;
	color: #06a9db;
}

h2 {
	text-align:center;
	line-height:.5;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #484b4f;
}

body {
	background: url(img/creampaper.png) repeat 0 0;
}